<h1 class="mx-auto bg-red-50"><%= @blog_post.title%></h1>
<div class='mx-auto bg-red-500'><%= @blog_post.body%></div>

<%= link_to 'Edit blog post!', edit_blog_post_path(@blog_post)if user_signed_in?%>

<div class="text-3xl font-bold  ml-8">hiiiiii</div>